{% extends "bootstrap/base.html" %}

{% block scripts %}
  {{super()}}
  <script type="text/javascript">
   $(function() {
    $('button').click(function() {
        $.ajax({
            url: '/display',
            type: 'GET',
            success: function(response) {
            	$("loadingImg").show();
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
  }); 	
  </script>
{% endblock %}

{% block title %}Example Page{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
  	<a class="navbar-brand" href="#">Home</a>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Hello There</h1>
  <form class="form">
  	<button class="btn btn-lg btn-primary btn-block" type="button">Get It</button>
  </form>
  <img id="loadingImg" style="display: none" src="/static/img/loading.png">
</div>
{% endblock %}